/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@300;400&display=swap');


/* CSS RESET */

*{
    margin: 0;
    padding: 0;
    border: 0;
}
/* Topo do site */
#topo {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

/* Corpo do site */
body {

    font-family: 'Open Sans', "sans-serif";
    font-size: 1em;
}
/* Final do site */


/* Layout */
.Container {
    background-color: rgba(255, 255, 255, 0);
    margin: 0 auto;
}
.Flex {
    display: flex;
    justify-content: space-between;
}

.Flex3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.Botao {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    font-weight: 400;
    background-color: rgb(0, 0, 0);
    padding: 10px 40px;
    border: 2px solid white;
    border-radius: 25px;
}

/* Smartphone Portrait */

    /* Destaque */
    main h1, main h2 {
        text-shadow: #343538 0.05em 0.05em 0.05em;
    }
    .h1 {
        position: static;
        margin-bottom: 10px;
        height: 90px;
        width: 300px;
    }
    .h2{
        position: static;
        margin-bottom: 100px;
        height: 90px;
        width: 300px;
    }


/* Cabeçalho */
header {
    justify-content: space-between;
    background-color: #000000;
    height: 60px;
}
#logo img {
    margin-top: 10px;
    margin-left: 10px;
    width: 100px;
    height: 100px;
}
#check {
    display: none;
}
label {
    font-size: 3em;
    position: fixed;
    padding-right: 15px;
    top: 5px;
    right: 15px;
    color: rgba(255, 255, 255, 0.5);
}
nav ul {
    list-style: none;
    background-color: #343538;
    height: 100vh;
    position: fixed;
    top: 60px;
    right: -100%;
    width: 100px;
    transition: all 0.5s;
}
#check:checked ~ul {
    right: 0;
}
nav ul li {
    padding: 20px;
    border-bottom: 1px solid #a9a9a9;
}
nav ul li a {
    text-decoration: none;
    color: white;
}
/* Destaque */
main {
    height: 75vh;
    background: url(img/fundo.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
main h1 {
    font-size: 4em;
}

main h2 {
    font-size: 2em;
}
/* Sobre */

#Sobre {
    background-image: url(img/background.png);
    background-color: #444444;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 30px 0px;
    text-align: center;
    justify-content: center;
}
.destaqueSobre {
    color: white;
    text-shadow: 1px 1px 3px black;
}
.textoSobre {
    background-color: rgba(51, 51, 51, 0.7);
    border-radius: 35px;
    box-shadow: 1px 1px 3px #000000;
    text-shadow: 1px 1px 3px #000000;
    color: white;
    padding: 10px 10px 10px 10px;
    text-align: center;
    justify-content: center;
}
.Trio {
    margin-top: 30px;
    height: 150px;
    width: 150px;
    border-radius: 50px;
    box-shadow: 1px 1px 3px #000000;
}
/* PORTIFOLIO */

#Portifolio {
    background-color:  white;
    text-align: center;
    padding: 50px;
}
.Card {
    margin-top: 25px;
    width: 300px;
    height: 430px;
    background-color: #e8e8e8;
    border: 1px solid #a1a1a1;
    border-radius: 35px;
    text-align: center;
    box-shadow: 1px 1px 3px #000000;
}

.Card img {
    height: 250px;
    width: 300px;
    border-radius: 35px 35px 0px 0px;
}

.Card p {
    text-align: center;
    color: #343538;
    padding: 10px 30px 50px 30px;
}


#Portifolio h2 {
    justify-content: bottom;
}
/* CONTATO REAL */
#Contato1 {
    padding: 10px;
    background-color: #515358;
    text-align: center;
}
#Contato1 iframe {
    height: 300px;
    width: 350px;
    padding: 30px 30px;
    border: 0;
    justify-content: left;
}

.textoContato {
    text-align: center;
    font-size: small;
    color: white;
    text-shadow: 1px 1px 2px #000000;
    justify-content: center;
}
.textoContato1 a {
    text-decoration: none;
    color: white;
}
.textoContato1 {
    text-align: center;
    font-size: small;
    color: white;
    text-shadow: 1px 1px 2px #000000;
    justify-content: space-between;
}
/* CONTATO */
#Contato {
    width: cover;
    padding: 10px;
    background-color: #3c3d41;
}
.Flex2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Flex4 {
    display: flex;
    padding: 5px;
    flex-direction: row;
    justify-content: center;
}
/* FOOTER */

footer {
    background-color: #343538;
    padding: 20px;
}

#Creditos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    text-align: center;
}
#Creditos h3 {
    font-size: small;
}
/* Smartphone Landscape */
@media (min-width: 576px) {
    body {
        background-color: whitesmoke;
    }
    /* Layout */
    .container {
        max-width: 540px;
    }
    /* Destaque */
    main h1, main h2 {
        text-shadow: #343538 0.05em 0.05em 0.05em;
    }
}

/* Tablet Portrait */
@media (min-width: 768px) {
    body {
        background-color: whitesmoke;
    }
    /* Layout */
    .container {
        max-width: 720px;
    }
    /* Destaque */
    main {
        margin-top: -10px;
        height: 50vh;
    }
        /* CONTATOS */
        .textoContato {
            padding-top: 100px;
            text-align: center;
            font-size: small;
            color: white;
            text-shadow: 1px 1px 2px #000000;
            justify-content: center;
        }
        .textoContato1 a {
            text-decoration: none;
            color: white;
        }
        .textoContato1 {
            text-align: center;
            font-size: small;
            color: white;
            text-shadow: 1px 1px 2px #000000;
            justify-content: space-between;
        }
}

/* Tablet Landscape */
@media (min-width: 992px) {
    body {
        background-color: whitesmoke;
    }
    /* Layout */
    .container {
        max-width: 960px;
    }
     /* Destaque */
     main {
        margin-top: -10px;
        height: 50vh;
    }
        /* CONTATOS */
        .textoContato {
            padding-top: 100px;
            text-align: center;
            font-size: small;
            color: white;
            text-shadow: 1px 1px 2px #000000;
            justify-content: center;
        }
        .textoContato1 a {
            text-decoration: none;
            color: white;
        }
        .textoContato1 {
            padding-top: 100px;
            text-align: center;
            font-size: small;
            color: white;
            text-shadow: 1px 1px 2px #000000;
            justify-content: space-between;
        }
}

/* Desktop */
@media (min-width: 1200px) {
    body {
        background-color: whitesmoke;
    }
    /* Layout */
    .container {
        max-width: 1140px;
    }

    /* Cabeçalho */
    header {
        height: 120px;
    }
    #logo img {
        width: 200px;
        height: 200px;
    }
     /* Destaque */
     main {
        margin-top: -50px;
        height: 60vh;
    }
    /* CONTATOS */
    .textoContato {
        padding-top: 100px;
        text-align: center;
        font-size: small;
        color: white;
        text-shadow: 1px 1px 2px #000000;
        justify-content: center;
    }
    .textoContato1 a {
        text-decoration: none;
        color: white;
    }
    .textoContato1 {
        padding-top: 100px;
        text-align: center;
        font-size: small;
        color: white;
        text-shadow: 1px 1px 2px #000000;
        justify-content: space-between;
    }
}
